{% extends "base.html" %}

{% block content %}
    <!-- start slider section -->
    <div id="top_section" class=" banner_main">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="airmic">
                        <h1>The Swimming Detection </h1>
                        <p>This Senior project can analyze the position, capture the number of strikes, calculate distances, display real-time results, and the system can support a variety of swimming pools according to the size of the pool, which is complete with statistical logs. Speed analysis, display graphs, help track the development of training. Importantly, it can be programmed to suit individual athletes.
                        </p>
                        {% if not current_user.is_authenticated %}
                            <a class="read_more" href="{{ url_for('auth.login') }}">Login</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="read_more" href="{{ url_for('auth.register') }}">SignUp</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}

                            <a class="read_more" href="{{ url_for('swimmer.swim') }}">Go to swim</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mic_img">
                        <figure><img src="{{ url_for('static',filename='img/right_side.png') }}" alt="#"/></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider section -->
    <!-- services -->
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>About the swimming sports</h2>
                        <p><font size=4 color=#999999>It's another sport that's been popular because it doesn't need any equipment.
                            In practice, that's a swimming sport, just with water, whether it's in a pool, a bucket, a sea or something.
                            The ocean that can go down to the sea is a place for this kind of exercise.
                            But what are you gonna use to do that?
                            Butterfly fishing and other swimming and international competitions.</p>
                        <br>Source: Thai Swimming Sports Association</font>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service_img text_align_center">
                        <i><img src="{{ url_for('static',filename='img/service1.png') }}" alt="#"/></i>
                    </div>
                    <div class="service_text text_align_center">
                        <h3>Competition</h3>
                        <p>There's a total of four, including Butterfly stroke, Backstroke, Breaststroke, Freestyle.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_img text_align_center">
                        <i><img src="{{ url_for('static',filename='img/service1.png') }}" alt="#"/></i>
                    </div>
                    <div class="service_text text_align_center">
                        <h3>Standard pool size</h3>
                        <p>The width is 25 meters, the length is 50 meters. There are a total of 8 circles, about 7-9 feet.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_img text_align_center">
                        <i><img src="{{ url_for('static',filename='img/service1.png') }}" alt="#"/></i>
                    </div>
                    <div class="service_text text_align_center">
                        <h3>Competition Type</h3>
                        <p>Freestyle 50m, 100m, 200m, 400m, 800m, and 1500m.
                            <br> Backstroke 50 meters 100 meters 200 meters
                            <br> Breaststroke 50 meters 100 meters 200 meters
                            <br> Butterfly stroke 50 meters 100 meters 200 meter
                            <br> And so on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end services -->
    <!-- about us-->
    <div id="about" class="about">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="titlepage text_align_left">
                        <h2>About Us</h2>
                        <p>Prepared by Ms. Parames Kittirat, student ID 6410401108 and Mr. Phawat Putthimit, student ID
                            6410406827 Bachelor's degree students Department of Computer Science, Regular Semester, Faculty of Science
                            Kasetsart University Bang Khen Campus Project and Advisor is Professor Somchok Ruangitthinan
                            And swimming information comes from the Swimming Association of Thailand. </p>
                        <a class="read_more" href="{{ url_for('main.about') }}">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_img">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/about_img.jpg') }}"
                                     alt="#"/></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about us -->
    <!-- start Regulations -->
    <div class="our_mics">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage text_align_center">
                        <h2>Regulations</h2>
                        <p>- The rules of the sport of swimming will be determined first. In this kind of competition What style of swimming will you have? And how much distance?
                            Competitors must swim as required. Whoever crosses the finish line first will be the winner.

                            <br>- Swimming is a popular sport for many people.
                            Therefore a competition was organized. To measure who is the best, such as the 100 meter freestyle competition.
                            Competitors must swim freestyle for a distance of 100 meters, but
                            The longest distance in the swimming pool is 50 meters, so competitors must swim one turn.
                            It is one lap round trip, so there will be a distance of 100 meters for the relay swim.

                            <br>- Competitors jump into the pool only after their teammates have touched the edge of the pool.
                            If teammates haven't touched the edge of the pool yet then jump down will be forfeited immediately

                            <br>- Competition rules Used to control all types of organized competitions, including the Olympic Games.
                            World Championships intercontinental competition and general international competition
                            Except for competitions specified otherwise.

                            <br>- About releasing before swimming The referee will sound a long whistle.
                            to get swimmers onto the jumping platform Later, when the referee will say, "Get into position."
                            The contestant then steps to stand at the end of the jumping platform. Waiting for the referee to signal the release to the sound of a gun and a buzzer.
                            or whistle so you can be released

                            <br>- But in the backstroke and mixed relay competitions will not be released from the pedestal
                            Instead, they will be released from the swimming pool.
                            <br> Source: Swimming Association of Thailand </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img1.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img2.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img3.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img4.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img5.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img6.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Regulations -->
    <!-- testimonial -->
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="titlepage text_align_center">
                        <h2>Swimming position</h2>
                        <p>Each swimming position is different as follows.</p>
                    </div>
                </div>
            </div>
            <div class="row d_flex">
                <div class="col-md-10 offset-md-1">
                    <div id="testimo" class="carousel slide our_testimonial" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#testimo" data-slide-to="0" class="active"></li>
                            <li data-target="#testimo" data-slide-to="1"></li>
                            <li data-target="#testimo" data-slide-to="2"></li>
                            <li data-target="#testimo" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption posi_in">
                                        <div class="testomoniam_text">
                                            <i class="text_align_left d-block"><img
                                                    src="{{ url_for('static',filename='img/icon.png') }}" alt="#"/></i>
                                            <p> <strong> Free style </strong>
                                                <br>The word "free style" is a word called a crawl stroke.This is a posture where the body is more waterproof than any other.It's a constant movement, whatever it is.There is a distinction between the butterfly, the beetle, and the chihuahua, most of which areThe girl's hand switches left-to-right, so-called.It's freestyle because you can do whatever you think you can to get to the edge of the pool before anyone else.By the popular posture used in the process of teaching swimming, this posture is taught first.
                                                <br> Source: Thai Swimming Sports Association </p>
                                            <i class="text_align_right d-block"><img
                                                    src="{{ url_for('static',filename='img/icon_right.png') }}"
                                                    alt="#"/></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption posi_in">
                                        <div class="testomoniam_text">
                                            <i class="text_align_left d-block"><img
                                                    src="{{ url_for('static',filename='img/icon.png') }}" alt="#"/></i>
                                            <p> <strong> Butterfly stroke  </strong>
                                                <br>It's a face-to-face swing. That's where you need the most strength to swim.
                                                Both hands will be lifted above the water at the same time.  
                                                This is the second-highest speed in free style.
                                                This posture is characterized by a continuous transfer of body weight from face to back and back to face.
                                                So you're gonna have to help your waist and thighs.   
                                                But if you're a good swimmer, you can be a free-styled swimmer.  
                                                You have to have muscles all over your head, shoulders, chest, back, and very strong legs.
                                                <br> Source: Thai Swimming Sports Association </p>
                                            <i class="text_align_right d-block"><img
                                                    src="{{ url_for('static',filename='img/icon_right.png') }}"
                                                    alt="#"/></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption posi_in">
                                        <div class="testomoniam_text">
                                            <i class="text_align_left d-block"><img
                                                    src="{{ url_for('static',filename='img/icon.png') }}" alt="#"/></i>
                                            <p> <strong>Breaststroke</strong> 
                                                <br> This is a face-to-face behavior.
                                                It's natural for humans to use their hands and feet constantly.                                               
                                                Both hands have to sprinkle forward at the same time. The elbows are under the water.                                              
                                                With a foot kick in the back, it's considered the slowest position.                                               
                                                But in the competition, it's high-tech, because swimming isn't like normal swimming.                                               
                                                It's because of the attitude, and it requires a high talent, because athletes have muscles.
                                                <br> Source: Thai Swimming Sports Association  </p>
                                            <i class="text_align_right d-block"><img
                                                    src="{{ url_for('static',filename='img/icon_right.png') }}"
                                                    alt="#"/></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="carousel-caption posi_in">
                                <div class="testomoniam_text">
                                    <i class="text_align_left d-block"><img
                                            src="{{ url_for('static',filename='img/icon.png') }}" alt="#"/></i>
                                    <p>
                                        <strong>Backstroke</strong> 
                                        <br> It's a seductive posture. It can be seduced by changing the principles of free style.
                                        Both hands swapped against the waterwoman to move forward.
                                        You're gonna have to put it on your ears.
                                        <br> Source: Thai Swimming Sports Association  </p>
                                    <i class="text_align_right d-block"><img
                                            src="{{ url_for('static',filename='img/icon_right.png') }}" alt="#"/></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimo" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#testimo" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- end testimonial -->
    <!-- start contact section -->
    <div class="contact left_cross_right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <h2><strong>Request a call back.</strong></h2>
                        <p>Thank you for visiting our website. If you have more offers, please contact us here.
                            We'll keep upgrading and developing. Thank you. </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="contactus" placeholder="Your Name" type="type" name="Name">
                            </div>
                            <div class="col-md-6">
                                <input class="contactus" placeholder="Email" type="type" name="Email">
                            </div>
                            <div class="col-md-6">
                                <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message" type="Message"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact section -->
{% endblock %}