{% extends "base.html" %}

{% block title %}Login | Swimming Detection{% endblock %}

{% block page_class %}inner_page{% endblock %}

{% block content %}
    <!-- BODY EMAIL PASSWORD -->
<div id="top_section" class=" banner_Login">
    <!--<div class="contact left_cross_right">-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <!--<div class="titlepage text_align_left">
                        <h1>Login</h1>
                        <p>Please enter email address and password</p>
                    </div> -->
                </div>
                <section class="vh-100">
                    <div class="container-fluid h-custom">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-md-9 col-lg-6 col-xl-5">
                                <img src="{{ url_for('static',filename='img/right_side2.png') }}"
                                     class="img-fluid" alt="Sample image">
                            </div> 
                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                <form id="request" class="main_form" method="POST" action="/login">
                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <label for="email">Email address</label>
                                        <input type="email" id="email" name="email" class="form-control form-control-lg"
                                               placeholder="Enter a valid email address"/>
                                        
                                    </div>

                                    <!-- Password input -->
                                    <div data-mdb-input-init class="form-outline mb-3">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                                               placeholder="Enter password"/>
                                        
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Checkbox -->
                                        <div class="form-check mb-0">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                   id="remember" name="remember"/>
                                            <label class="form-check-label" for="remember">
                                                Remember me
                                            </label>
                                        </div>
                                        {#<a href="#!" class="text-body">Forgot password?</a>#}
                                    </div>

                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-primary btn-lg"
                                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                                        </button>
                                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
                                                href="{{ url_for('auth.register') }}"
                                                class="link-danger">Register</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- end BODY EMAIL PASSWORD -->

    <!-- our_us -->
    <div class="our_mics">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage text_align_center">
                        <h2>About senior project</h2>
                        <p>Senior program analyzes swimming style and captures the number of strokes. Distance calculation Components of various systems of various circulatory systems According to the components of the vowel, which has complete information by recording frequency analysis statistics showing a graph of the sound. Help follow the development of important training programs to suit there.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img1.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img2.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img3.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img4.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img5.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 margin_bottom40">
                    <div id="ho_show" class="mics">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/mics_img6.jpg') }}"
                                     alt="#"/></figure>
                        <div class="mics_icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end our_mics -->
{% endblock %}