{% extends "base.html" %}

{% block title %}Profile | Swimming Detection{% endblock %}

{% block page_class %}inner_page{% endblock %}

{% block content %}
    <!-- Profile section -->
    <section style="background-color: #fff;">
        <div class="container py-5">

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h1 class="my-3 display-5 mb-4">{{ current_user.name }}</h1>
                            <a href role="button" class="btn btn-info">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Height</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.profile.height }} cm</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Weight</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.profile.weight }} kg</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.profile.gender }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Age</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ current_user.profile.calculate_age() }} years</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Style</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Stroke</th>
                    <th>Strokes per Minute</th>
                    <th>Pool Length</th>
                    <th>Meter per Stroke</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for record in current_user.profile.swimming_records %}
                    <tr>
                        <td>{{ record.style }}</td>
                        <td>{{ record.location }}</td>
                        <td>{{ record.time }}</td>
                        <td>{{ record.stroke }}</td>
                        <td>{{ record.strokes_per_minute }}</td>
                        <td>{{ record.pool_length }}</td>
                        <td>{{ record.calculate_meter_per_stroke() }}</td>
                        <td>{{ record.date.strftime("%d %b %Y %H:%M") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <p>Average Strokes per Minute of the Day: {{ average_strokes_per_minute }}</p>

        </div>
    </section>
     <!-- end Profile  section -->
{% endblock %}