{% extends "base.html" %}

{% block page_class %}inner_page{% endblock %}

{% block content %}
    <!-- about -->
    <div id="about" class="about">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="titlepage text_align_left">
                        <h2>About Us</h2>
                        <p>จัดทำโดยนางสาวปารเมศ กิตติราช รหัสนิสิต 6410401108 และ นายภาวัต พุทธิมิตร รหัสนิสิต 6410406827 นิสิตระดับปริญญาตรี ภาควิชาวิทยาการคอมพิวเตอร์ ภาคปกติ คณะวิทยาศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน อาจารย์ที่ปรึกษาโปรเจ็ค อาจารย์สมโชค เรืองอิทธินันท์ และข้อมูลการว่ายน้ำมาจากสมาคมกีฬาว่ายน้ำแห่งประเทศไทย   </p>
                        <a class="read_more" href="{{ url_for('about') }}">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_img">
                        <figure><img class="img_responsive" src="{{ url_for('static',filename='img/about_img.jpg') }}" alt="#"/></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
{% endblock %}