{% extends "base.html" %}

{% block title %}Swim | Swimming Detection{% endblock %}

{% block page_class %}inner_page{% endblock %}

{% block content %}
    <!-- about จับเวลา -->
    <div id="swim" class="swim">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="header">
                        <h2>การจับเวลาท่าว่ายน้ำ</h2>
                        <p>หากพร้อมแล้ว สามารถจับเวลาเพื่อนับจำนวน Stroke ได้เลย </p>
                    </div   
                        
                    <div  class="content">  
                        <!--Start ข้างล่าง-->
                         <button class="button">Timer</button>
                         <button class="button">From</button>
                         <button class="button">Stroke {{ counter.get_strokes() }} </button>
                         <!--End ข้างล่าง-->
                        
                        <!--Start ข้างบน
                        <div class="col-md-12 ">
                            <label for="age">Stroke: {{ counter.get_strokes() }}</label>
                        </div>
                        End ข้างบน--> 
                        <form id="request" method="POST" action="{{ url_for('save_swim_result') }}">
                            <button class="btn-danger btn-lg">STOP</button>
                        </form>
                    </div>

                  
                   
            
                </div>
                <div class="col-md-6">
                    <div class="about_img">
                        <figure><img class="img_responsive" src="{{ url_for('video_feed') }}" alt="#"/></figure>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end about จับเวลา -->
    <!-- start about จับเวลา -->

    <!-- end about จับเวลา -->
 
{% endblock %}